outputs/*.pt
outputs/*.joblib
outputs/*.png
outputs/*.csv
embeddings/
favicon_io.zip
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.venv/
data/books
data/dvd
data/electronics
data/kitchen_&_housewares